body{
    background-color:#682981;
    margin: 0px;
    
}
.full{
    width: 100%;
    height: 100%;   
    position: fixed;
}
.Icons{
    background-color: rgb(247, 249, 250);
    height: 73px;
    width: 100%;
    font-family: "Varela Round" ; 
    position: fixed; 
    top:0;  
    
}
.Icons{
    display: flex;
    justify-content: space-between; 
    margin-top: zpa;
    font-family: "Varela Round" ;
}
.park{
    font-size: 50px;
    background:linear-gradient(rgb(181, 255, 211) 0.02%,
    rgb(209, 164, 255) 39.16%, 
    rgb(255, 165, 175) 75.82%,
    rgb(255, 220, 164) 112%,transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
           
}
.menu{
    
    font-family: "Varela Round" ;
    margin-right:100px;
    font-weight: bolder;
    margin-top: 20px;
   
}
.menu a{
    /* padding: 20px; */
    margin : 20px ;
    text-decoration: none;
    position: relative;
}
a:after{
     content: "";
    position: absolute;
    width: 0;
    height: 4px;
    left : 0;
    bottom: -2px;
    background-color: indigo;
    transition:0.5s;
    border-radius: 10px;
    /* text-decoration: underline; */
}
a:hover:after{
    width: 100%;
}
.iz{
    display: flex;
    /* gap: 30px; */
    font-size: 44px;
}

#main{
    color: white;
    margin-left: 123px;
    margin-top: 157px;
    font-family: "Varela Round";
} 
.pic img{
    width: 100%;
height: 479px;
border-radius: 20px;
margin-left: -52px;
margin-top: -90px;
  
}
#zpark{
    color: white;
    font-size: x-large;
    gap: 10%;
    display: flex;
    width: 100%;
    text-align:start;
    margin-left: 50px;
    
}
.para{
  
    width: 58%;
    margin-top: 35px;
    margin-right: 0px;
    font-family: "Varela Round";
    text-align: start;
    font-size: 25px;
margin-left: 72px;
}
button{
    width: 30%;
    height: 59px;
    font-size: 20px;
    font-weight: bold;
    background-color: #920584;
    border-radius: 10px;
    color:white;
    border: none;
    
}
button:hover{
    background-color: white;
    color: rgb(189, 11, 135);

}

